@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
html, body {
  color: #636b6f;
  background: #eeeeee;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  height: 100vh;
  margin: 0; }

.navigation {
  width: 100%;
  height: 45px;
  background: #39CCCC;
  display: flex;
  flex-direction: row; }
  .navigation .nav-menu {
    width: 100%; }
    .navigation .nav-menu .item, .navigation .nav-menu .active {
      color: #ffffff !important;
      height: 45px; }

#content .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; }
#content .welcome-banner {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 250px;
  justify-content: center;
  align-items: center;
  align-content: center; }
  #content .welcome-banner .segment {
    display: flex;
    flex-direction: row;
    align-items: center; }
  #content .welcome-banner .welcome-banner-icon .fa-square {
    color: #39CCCC; }
  #content .welcome-banner .welcome-banner-icon .fa-star-half-empty {
    color: #FFED4A; }
  #content .welcome-banner .welcome-banner-icon .fa-exclamation {
    color: #EF5753; }
  #content .welcome-banner .welcome-banner-content {
    padding-left: 10px; }

/** generic colors **/
.bug {
  color: #db2828; }

.feature {
  color: #21ba45; }

/** Project Card */
.project-card {
  width: 300px;
  height: 280px; }
  .project-card .content {
    text-align: center; }
  .project-card .icon {
    text-align: center;
    padding: 15px; }
  .project-card .description {
    padding-top: 15px; }
  .project-card .extra {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px; }
    .project-card .extra .bugs {
      text-align: center; }
      .project-card .extra .bugs a {
        color: #db2828; }
    .project-card .extra .comments {
      text-align: center; }
      .project-card .extra .comments a {
        color: #f2711c; }
    .project-card .extra .features {
      text-align: center; }
      .project-card .extra .features a {
        color: #21ba45; }
    .project-card .extra .users {
      text-align: center; }
      .project-card .extra .users a {
        color: #2185d0; }

.modal .actions {
  display: flex;
  justify-content: space-between;
  flex-direction: row; }
  .modal .actions .left {
    align-content: left;
    align-items: center; }
  .modal .actions .right {
    align-content: right;
    align-items: center; }

.modal .content .container {
  border: thin dashed #ccc;
  padding: 5px;
  min-height: 50px; }
  .modal .content .container .user {
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    margin: 5px; }
.modal .content .project-creator {
  padding: 10px;
  background: #BCDEFA;
  border: thin solid #2779BD; }

/** Project List Item */
.project-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .project-list-item .title a {
    display: flex;
    flex-direction: row;
    color: #636b6f; }
  .project-list-item .title a:hover {
    color: #1e70bf; }
  .project-list-item .title .name {
    padding-left: 7px; }
  .project-list-item .actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .project-list-item .actions .item {
      padding-left: 15px; }
    .project-list-item .actions .bugs {
      text-align: center; }
      .project-list-item .actions .bugs a {
        color: #db2828; }
    .project-list-item .actions .features {
      text-align: center; }
      .project-list-item .actions .features a {
        color: #21ba45; }
    .project-list-item .actions .users {
      text-align: center; }
      .project-list-item .actions .users a {
        color: #2185d0; }

/** Task Card */
.task-card {
  width: 300px;
  height: 280px; }
  .task-card .content {
    text-align: center; }
  .task-card .icon {
    text-align: center;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center; }
    .task-card .icon .header {
      font-weight: bold;
      font-size: 18px;
      color: #636b6f !important; }
    .task-card .icon a.header:hover {
      color: #4183C4 !important; }
  .task-card .description {
    padding-top: 15px; }
  .task-card .extra {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px; }
    .task-card .extra .comments {
      text-align: center; }
      .task-card .extra .comments a {
        color: #f2711c; }
    .task-card .extra .users {
      text-align: center; }
      .task-card .extra .users a {
        color: #2185d0; }

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 15px;
  width: 100%; }
  .footer .left {
    width: 33%;
    padding: 15px;
    text-align: left; }
    .footer .left a {
      color: #636b6f; }
  .footer .middle {
    width: 34%;
    padding: 15px;
    text-align: center; }
    .footer .middle a {
      color: #636b6f; }
  .footer .right {
    width: 33%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end; }
    .footer .right a {
      color: #636b6f; }

/*# sourceMappingURL=app.css.map */
